/* Police
================================================== */

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-regular.ttf') format("truetype");
    font-family: "Roboto-black";
    src: url('fonts/Roboto-Black.ttf') format("truetype");
    
}


/* Body
================================================== */


body {
    font-family: "Roboto", sans-serif;
    color: dimgrey;
    margin: 0px;
    padding: 0px;
    width: 100%;

}

h1  {
    font-family: "Roboto-black", sans-serif;
    color: black;
    font-size: 2em;
}

h2, h3 {
    color: black;
}

/* Navbar
================================================== */

#navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}


#navbar {
    padding: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 100;
}


#navbar ul {
    
    list-style-type: none;
    padding: 0;
        
}

#navbar li {
    display: inline;
    
}

#navbar li a {
    
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px 0.5em;
}

#navbar li a:hover {
    border-top: 2px solid #2ca5bc;
}



@media screen and (max-width: 640px)
{
    
    #navbar ul { 
        font-size: 12px;
        padding: 10px;             }
}



/* Carrousel
================================================== */

/******* Image *******/

/*.carousel {
    position: relative;
}*/

.carousel img {
    width: 100%;
    animation: fondu-carousel 10s infinite alternate;
    -webkit-animation: fondu-carousel 10s infinite alternate;
    -moz-animation: fondu-carousel 10s infinite alternate;
}

.carousel {
    background-image: url(../images/slider/bg2.jpg); 
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 80px;
}

@keyframes fondu-carousel {
    
    0% {
        opacity: 1;
    }
    
    33% {
        opacity: 1;
    }
    
    66% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }    
}
 

/******* barre de chargement *******/

.barre-chargement {
    height: 5px;
    background: #D8D8D8;
    position: relative;
    top: -5px;
}

.chargement {
    width: 50%;
    background-color: #4494BB;
    height: 5px;
    animation: barredechargement 10s linear infinite;
    -webkit-animation: barredechargement 10s linear infinite;
    -moz-animation: barredechargement 10s linear infinite;
}

@keyframes barredechargement {
    
    0% {
        width: 0%;
    }
    
    33% {
        width: 100%;
    }
    
    66% {
        width: 100%;
    }
    
    100% {
        width: 100%;
    }  
  
}

/******* Fleches *******/

.fa-angle-left { 

    font-size: 2em;
    color: white;
    position: absolute;
    bottom: 18vw;
    background-color: #06060666;
    padding: 6px;
    border-radius: 0 50px 50px 0;
    left: -4px;

}

.fa-angle-right { 

    font-size: 2em;
    color: white;
    position: absolute;
    bottom: 18vw;
    right: 0px;
    background-color: #06060666;
    padding: 6px;
    border-radius: 50px 0 0 50px;
}

/******* Text *******/


.texte-slider {    
    width: 30%;
    margin-left: 18%;
    position:absolute;
    top: 30%;
}

.texte-slider > h1 {
    text-transform: uppercase;
    color: aliceblue;
    
}

.texte-slider > h1 > strong {
    color: #4494BB;
    
}

.texte-slider > p {
    color: aliceblue;
    margin-bottom: 40px;
}

.bouton-slider {
    background-color: #4494BB;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    border-bottom: 2px solid #0065bc;
}

.bouton-slider > a {
    color: aliceblue;
    text-decoration: none;
}



/******* responsive *******/

@media screen and (max-width: 1281px)
{
    .texte-slider {
        width: 60%;
    }
    .imagepf {
        width: 90vw;
    }
}

@media screen and (max-width: 1024px)
{
    .texte-slider {
        width: 90vw;
        margin-left: 10%;
        top: 50px;
        font-size: 12px;
    }
}

@media screen and (max-width: 640px)
{
    .texte-slider {
        display: none;
    }
    
    .carousel {
        display: none;
    }
}

/* Services
================================================== */

#services {
    padding-top: 50px;
    padding-bottom: 50px;
}

/******* Titre *******/ 
    
#services > h1  {
    text-align: center;
    text-transform: uppercase;
}

/******* Trait *******/

.trait-point {
    display: flex;
    justify-content: center;
}

.trait {
    background-color: #dadada;
    width: 50px;
    height: 1px;    
}

.cercle {
    background-color: #4494BB;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-top: -8px;
    
}

/******* Image *******/

#services > p  {
    text-align: center;
}


.description {
    
    margin-top: 50px;
}

.featuredescription{
    display: flex;    
}

.feature {
    padding-left: 10%;
    width: 40%;    
}


/******* Responsive / image *******/

@media screen and (max-width: 1024px)
{
    .feature { display: none;}
    .featuredescription {width: 100%;}
    #services { margin-top:80px;}
    
    
}
/******* List *******/



.boite {
    display: flex;
}

/******* Point *******/

.icone {
    padding-top: 25px;
}

.iconecercle {
    position: relative;
    top: 44px;
    right: 26px;
    color: #4494BB;
    font-size: 10px;
    padding-top: 25px;
}

	
.boite .icone svg  {
    display: block;
    color: #4494BB;
    font-size: 35px;
    margin: 20px;
    padding: 10px;
    border: 2px solid #c6c6c6;
    border-radius: 100%;
    
}

.text-boite {
    width: 65%;
}



/* Projets
================================================== */
/******* Background *******/

#projet {
    background-color: #f8f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
}

/******* Titre *******/

#header-projet > h1  {
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

#header-projet > hr {
    width: 100px;
}


#header-projet > p {
    text-align: center;
}

/******* Menu *******/

.menu {
    text-align: center;
}


.allwork, .creative, .corporate, .menu-portfolio {
    margin: -2px;
    height: 34px;
    border: 0px;
    
}  


.allwork {
    background-color: #4494BB; 
    border-radius: 5px 0 0 5px;
    color: aliceblue;
    border-bottom: 2px solid #0065bc;
    width: 75px;
    height: 40px;
    padding-top: 2px;
}

.creative, .corporate, .menu-portfolio {
    background-color: #E5E5E5;
    width: 75px;
    height: 40px;
    outline: 0;
}

.menu-portfolio {
    border-radius: 0 5px 5px 0;
}

.creative:hover, .corporate:hover {
    background-color: #4494BB;
    padding-top: 2px;
    border-bottom: 2px solid #0065bc;
    
}
.menu-portfolio:hover {
    background-color: #4494BB;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 2px solid #0065bc;
    padding-top: 2px;
}
.menu-portfolio:hover, .creative:hover, .corporate:hover {
    color: aliceblue;    
} 

.creative::after, .corporate::after, .menu-portfolio::after{
    content: '';
    position: absolute;
    margin-top: 23px;
    margin-left: -34px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid #4494BB;
    clear: both;
    opacity: 0;
}
    
.allwork::after{
    content: '';
    position: absolute;
    margin-top: 23px;
    margin-left: -34px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid #4494BB;
    clear: both;
    
}
    
.creative:hover::after,.corporate:hover::after,.menu-portfolio:hover::after {
    opacity: 1;
}
    

/******* Portfolio *******/

.portfolio{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    
}

.imagepf  {
    width: 20%;
    /*width: 400px;*/
    margin: 10px;
    position: relative;
}

.imagepf > img {
    width: 100%;
}

.survol {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    padding: -10px;
}

.imagepf:hover .survol {
    opacity: 1;
}


.survol > h2 {
    padding-left: 10px;
    padding-top: 5px;
    color: aliceblue;
    font-size: 1em;
}

.survol > p {
    padding-left: 10px;
    color: aliceblue;
    font-size: 0.8em;
}


/******* Oeil *******/

.survol > svg {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 75%;
    right: 10%;
    background-color: #4494BB;
    padding: 8px;
    border: 2px solid;
    border-radius: 100%;
}

/******* Responsive *******/

@media screen and (max-width: 1350px)
{
    .survol > h2 {
        font-size: 0.8em;
    }
    .survol > p {
        font-size: 0.5em;
    }    
    
    
    
}

@media screen and (max-width: 1024px)
{
    .portfolio { 
        flex-direction: column;
        align-items: center;
    }
    .imagepf {
        width: 60vw;
    }
    .survol > h2 {
        font-size: 1.5em;
    }
    .survol > p {
        font-size: 1em;
    }    
    
    .survol > svg {
        bottom: 90%;
    }
}

@media screen and (max-width: 640px)
{

    .imagepf {
        width: 90vw;
    }

    .survol > h2 {
        font-size: 1em;
    }
    .survol > p {
        font-size: 0.7em;
    }   
    
    .survol > svg {
        bottom: 80%;
    }
    
    
    
}



/* Footer
================================================== */

/******* Map *******/

footer {
    position: relative;
}

footer > iframe {
    width: 100%;
    height: 800px;
}

.google {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgba(92,173,211,0.25);
    top: 0;
}

#contact {
    background-color: #efedec;
    width: 350px;
    height: 520px;
    position: absolute;
    top: 195px;
    left: 70%;
    padding: 20px;
    border: 1px solid #bdb8b8;
    border-radius: 5px;
    opacity: 0.9;
        
}

.contact-marge {
    margin-top: -20px;
    margin-bottom: -17px;
}


.formulaire {
    text-align: center;
}

.formulaire > input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.formulaire > textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.btn-contact {
    background-color: #4494BB;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    border-bottom: 2px solid #0065bc;
    position: absolute;
    top: 390px;
    left: 21px;
}

.btn-contact > a {
    color: aliceblue;
    text-decoration: none;
}


@media screen and (max-width: 1024px)
{
    #contact { 
        position: relative;
        left: 0px;
        bottom: 0px;
        margin: auto;
        width: 80%;
        top: 50px;
    }
        
    
}
